
#links
{
color: #ffb750;

}

#Top
{
	margin-top: 5px;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#AuthForm
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#TopInfoBar
{
	margin-top: 7px;
	margin-bottom: 12px;
}

#middle-bar
{
	margin-top: 0px;
	background-color: #F5F5F5;
	background: url(../img/bodybg.png) repeat;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.04706);
}

#logo
{	
	margin-top: 0px;
	background-color: #F5F5F5;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	
}

#m-top
{
	margin-top: 30px;
	margin-bottom: 25px;

}

#TitleContest
{
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #868686;	
	margin-top: -10px;
	
}

#DescriptionContest
{
position: relative;
font-size: 14px;
padding: 0px 0px 0px 0px;
margin: 5px 0px 0px 0px;
color: #868686;
}

#DescriptionContestMore
{
position: relative;
font-size: 14px;
padding: 0px 0px 0px 0px;
margin: -5px 0px 0px 0px;
color: #868686;
}


#menu-bar
{
	margin-top: 15px;
	margin-left: -60px;
	margin-bottom: 10px;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.04706);
	
}

#first-post
{
	margin-top: 20px;
	background-color: #FFFFFF;
	padding:20px;
	padding-bottom:35px;
}

#first-post hr
{
	padding:0px;
	margin-bottom:0px;
	margin-top:10px;

}

#text-post
{
	margin-top: 25px;
	background-color: #FFFFFF;
	padding:20px;
	padding-bottom:35px;
}

#text-post hr
{
	padding:0px;
	margin-bottom:0px;
	margin-top:10px;
}

#date
{
margin-top: 10px;
color: #595959;
}

#post
{
	margin-top: 10px;
	color: #6a6a6a;
	position:relative;
}

#post p
{
font-size: 13px;
}


#more
{
margin-top:8px;
}

#bgtitle
{
font-size: 14pt;
color: #595959;
font-style: normal;
line-height: 150%;
font-family: "TitilliumText22LRegular", "Arial";
font-weight: 400;
}

#post-bar
{
background-color: rgb(255, 250, 245);
border-bottom-color: rgba(0, 0, 0, 0.15);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgba(0, 0, 0, 0.15);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.15);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.15);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.04706);
padding-left: 5px;
margin-top: 10px;
width: 100%;
padding: 5px 0px 5px 5px;
}

#comment-count
{
background-color: rgb(255, 250, 245);
border-bottom-color: rgba(0, 0, 0, 0.15);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgba(0, 0, 0, 0.15);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.15);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.15);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.04706);
padding-left: 5px;
margin-top: 10px;

padding: 5px 5px 5px 5px;
}

#comment-block
{
background-color: rgb(255, 250, 245);
border-bottom-color: rgba(0, 0, 0, 0.15);
border-left-color: rgba(0, 0, 0, 0.15);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.15);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.15);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.04706);
padding-left: 5px;
margin-top: 10px;

padding: 5px 10px 5px 5px;
}

#comment 
{
padding-left: 5px;
margin-top: 10px;
width: 100%;
padding: 5px 0px 0px 5px;
border-bottom-color: rgba(0, 0, 0, 0.15);
border-bottom-style: solid;
border-bottom-width: 1px;
}

#comment h6
{
position: relative;
font-size: 11px;
}

#comment p
{
position: relative;
font-size: 12px;
color: #6a6a6a;
}

#comment img 
{
border: 0px solid #757575;
height: 48px;
width: 48px;
margin-right: 15px;
float: left;
}

#content-bar
{
	background-color: #F5F5F5;
}

#slider
{
position:relative;
overflow: hidden; 
height:250px;
width:960px;
}

#slider-panel
{
	position:absolute;
	top:220px;
	left:160px;
	display:block;
}

.slider-button
{
	cursor:pointer;	
}

.items
{
	position:absolute;
	left:960px;
}

#footer-text
{
    padding-top: 30px;
}