<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta name="description" content="SR Contest - сайт литературных конкурсов. Новые конкурсы каждый месяц!" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
{% block styles %}{% endblock %}
<title>Главная страница</title>
<script src="{{ STATIC_URL }}js/jquery.min.js">
</script>
<script>
    function SubmFunc(event) {
        if (event.keyCode == 13) {
            var myForm = document.getElementById('AuthForm');
            myForm.submit();
        }
    }
</script>

{% block scripts %}{% endblock %}

</head>
<body>
<div id= "Top">
	<div class = "container">
	{% if user.is_authenticated %}
	<div class="pull-left"><a href="/"><img id="miniLogo" src="{{ STATIC_URL }}img/sitelogo.jpg"></a><h6 id="TopInfoBar">|&ensp;&ensp;Добро пожаловать, {{ user.username }}.&ensp;&ensp;|&ensp;&ensp;<a  href="/accounts/logout/">Выйти?</a></h6></div>

	{% else %}
        <img id="miniLogo" src="{{ STATIC_URL }}img/sitelogo.jpg">
		<form method="POST" action="/accounts/login/" class="pull-left" id="AuthForm" onKeyUp = 'SubmFunc(event)'>
		{% csrf_token %}
			<input class="input-medium" type="text" name="login" placeholder="Пользователь"/>
			<input class="input-medium" type="password" name="password" placeholder="Пароль"/>
		</form>
	{% endif %}
	
	<div class="pull-right"><h6 id="TopInfoBar">Карта сайта:&ensp;&ensp;|&ensp;&ensp;<a id="links" href="/contest/">Конкурсы</a>&ensp;&ensp;|&ensp;&ensp;<a id="links" href="/laws/">Правила</a>&ensp;&ensp;|</h6></div>
	</div>
</div>

<div id= "middle-bar">
 
	<div class = "container" >

		<div class="row">
            {% block middle-bar %}{% endblock %}
		</div>
	</div>

</div>

<div id= "content-bar">

    {% block shadow %}{% endblock %}

	<div class = "container" >

		<div class="row">
				{% block content-bar %}{% endblock %}
        </div>
    </div>

</div>


<div id="footer-pass"><div>

<div class="bottombar" id = "footer">
    <footer>
      <div style="text-align: center;"><p><h6 id="footer-text">Сайт литературных конкурсов. Разработан Soul Reaver</h6></p></div>
    </footer>
</div>

</body>
</html>
