{% extends "base.html" %}
{% load srcomments_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contest.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}

{% block middle-bar %}
    <div class = "span8">
        <div class="white-block">
            <p id="Title">Конкурс № {{ contest.id }}: {{ contest.title }}</p>
            <a href="/"><img id="large-logo" src="{{ STATIC_URL }}img/image1.jpg"/></a>
            <p class="basic-text"><b>Описание: </b>{% autoescape off %}{{ contest.description }}{% endautoescape %}</p>
            <hr>
            <p class="basic-text"><b>Обязательные условия:</b></p>
                <ul>
                    {% for items in terms %}
                    <li>{{ items.text }}</li>
                    {% endfor %}
                </ul>
            <hr>
            <p class="basic-text"><b>Приветствуется:</b></p>
            <ul>
                {% for items in extra %}
                    <li>{{ items.text }}</li>
                {% endfor %}
            </ul>

            <hr>

            <p class="basic-text"> {% autoescape off %}{{ contest.PM }}{% endautoescape %}</p>
            <hr>
            <div id="share" class="yashare-auto-init" data-yashareL10n="ru" data-yashareLink="http://{{ request.META.HTTP_HOST }}{{ public_news.0.get_absolute_url }}"  data-yashareTitle="Новость на сайте: {{ public_news.0.title }}" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div>
        </div>

    {% show_srcomments %}

    </div>


    <div class = "span4">
        <div class="white-block">
            <p class="basic-text"><b>Жанр: </b>{{ contest.genre }}</p>
            <p class="basic-text"><b>Дата начала конкурса: </b> {{ contest.startdate }}</p>
            <p class="basic-text"><b>Дата завершения конкурса: </b> {{ contest.enddate }}</p>
            <hr>
            <p class="basic-text"><b>Текущие участники: </b>{{ contestants }}</p>
            <hr>
            <button class="btn btn-warning" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Участвовать!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

        </div>
    </div>

{% endblock %}
