{% extends "base.html" %}
{% load srcomments_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contest.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}

{% block middle-bar %}
    <div class = "span8">
        <div class="white-block">
            <p id="Title">Конкурс № {{ contest.id }}: {{ contest.title }}</p>
            <a href="/"><img id="large-logo" src="{{ contest.imglogo }}"/></a>
            <p class="basic-text"><b>Описание: </b>{% autoescape off %}{{ contest.description }}{% endautoescape %}</p>

            <p class="basic-text"><b>Обязательные условия:</b></p>
                <ul>
                    {% for items in terms %}
                    <li>{{ items.text }}</li>
                    {% endfor %}
                </ul>
            <p></p>
            <p class="basic-text"><b>Приветствуется:</b></p>
            <ul>
                {% for items in extra %}
                    <li>{{ items.text }}</li>
                {% endfor %}
            </ul>


            <p class="basic-text"> {% autoescape off %}{{ contest.PM }}{% endautoescape %}</p>
            {% if contest.stage == "VT" %}

            <p></p>
            <hr>
            <h6>Итоговая таблица работ конкурсантов</h6>
            <p></p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя участника</th>
                    <th>Название работы</th>

                </tr>
                </thead>
                <tbody>
                {% for items in contest.works.all %}
                    <tr>
                        <td>{{ items.id }}</td>
                        <td>{{ items.user.username }}</td>
                        <td><a href="{{ items.file.url }}">{{ items.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endif %}

            <hr>
            <div id="share" class="yashare-auto-init" data-yashareL10n="ru" data-yashareLink="http://{{ request.META.HTTP_HOST }}{{ public_news.0.get_absolute_url }}"  data-yashareTitle="Новость на сайте: {{ public_news.0.title }}" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div>
        </div>

    {% show_srcomments %}

    </div>


    <div class = "span4">
        <div class="white-block">
            <p class="basic-text"><b>Жанр: </b>{{ contest.genre }}</p>
            <p class="basic-text"><b>Дата начала конкурса: </b> {{ contest.startdate }}</p>
            <p class="basic-text"><b>Дата окончания конкурса: </b> {{ contest.enddate }}</p>

            <hr>
            <p class="basic-text"><b>Текущие участники: </b>{{ contestants }}</p>
            <hr>

            {% if user.is_authenticated %}
                {% if user in contest.contestants.all %}
                    {% if contest.stage == "CT" %}
                        <form method="POST" action="/contest/unsign/{{ contest.id }}/">
                        {% csrf_token %}
                            <button class="btn btn-warning" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Отказаться...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </form>
                        <hr>

                        {% if not uploaded %}

                            <p class="basic-text"><b>Название вашей работы:</b></p>
                            <form action="/contest/upload/{{ contest.id }}/" method="post" enctype="multipart/form-data" id="fileform">
                                {% csrf_token %}
                                <input class="input-large" type="text" name="work-title" placeholder="Введите название"/>
                                <p class="basic-text">Загрузите вашу работу в формате <b>.RTF</b></p>
                                <input type="file" name="file" SIZE=17 />
                                <input type="submit" value="Загрузить" />
                            </form>

                        {% else %}

                            <p class="basic-text">Ваша работа загружена, и принята к рассмотрению. Спасибо за участие!</p>
                            <a class="basic-text" href="/contest/delete/{{ contest.id }}/">Удалить загруженный файл?</a>

                        {% endif %}
                    {% endif %}
                    {% if contest.stage == "MD" %}
                        <p class="basic-text" style="color: red;"><b>Конкурс завершен.</b></p>
                        <p class="basic-text">Работы переданы администратору для просмотра, и модерации.</p>
                        <p class="basic-text">По окончанию проверки таблица с работами участников станет доступна всем желающим.</p>
                    {% endif %}
                    {% if contest.stage == "VT" %}
                        <p class="basic-text" style="color: red;"><b>Конкурс завершен.</b></p>
                        <p class="basic-text">Спасибо за участие!</p>
                        <p class="basic-text">Работа с таблицами участников конкурса, а также панель голосования доступны слева.</p>
                    {% endif %}

                {% else %}

                    {% if contest.stage == "CT" %}
                        <form method="POST" action="/contest/sign/{{ contest.id }}/">
                        {% csrf_token %}
                            <button class="btn btn-warning" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Участвовать!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </form>
                    {% endif %}
                    {% if contest.stage == "MD" %}
                        <p class="basic-text" style="color: red;"><b>Конкурс завершен.</b></p>
                        <p class="basic-text">Работы переданы администратору для просмотра, и модерации.</p>
                        <p class="basic-text">По окончанию проверки таблица с работами участников станет доступна всем желающим.</p>
                    {% endif %}
                    {% if contest.stage == "VT" %}
                        <p class="basic-text" style="color: red;"><b>Конкурс завершен.</b></p>
                        <p class="basic-text">Работа с таблицами участников конкурса доступна слева. Только участник конкурса имеет доступ к голосованию.</p>
                    {% endif %}

                 {% endif %}

            {% endif %}
         </div>
    </div>

{% endblock %}
