{% extends "base.html" %}
{% load polls_tags %}

{% load srcomments_tags %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

    <script>
        $(document).ready(function(e) {


            $('.items').hide().first().show().css('left',0);
            $('#slider-panel').first().find('img:first').attr('src','/static/img/panelb_s.png');
            var currentHeadline = 0;
            var oldHeadline = 0;
            $('.slider-button').click(function(){
                currentHeadline = $('.slider-button').index(this);
                if (currentHeadline !== oldHeadline){
                    $('#slider-panel').hide('midle');
                    $('.items').eq(currentHeadline).animate({left:0},'slow');
                    $('.items').eq(oldHeadline).animate({left:-960},'slow',function(){
                        $(this).css('left',960).hide();
                        $('.items').eq(oldHeadline).fadeIn('midle');
                        $('#slider-panel').first().find('img').attr('src','/static/img/panelb.png');
                        $('#slider-panel').find("img:eq("+currentHeadline+")").attr('src','/static/img/panelb_s.png');
                        $('#slider-panel').show('midle');
                    });

                    oldHeadline = currentHeadline;

                }
            });


        });
    </script>
{% endblock %}

{% block middle-bar %}
    <div id="slider">
        {% for items in contest %}

            {% if items != "Отсутствует" %}


                <div class="items">

                    <div id= "m-top" class = "span5" id="logo-bar" name="logo-bar">
                        <a href="/"><img id="logo" src="{{ STATIC_URL }}img/image.jpg"/></a>
                    </div>

                    <div id= "m-top" class = "span7">
                        <H2 id="TitleContest" >Текущий конкурс: {{ items.title }}</H2>
                        <p id="DescriptionContest"><b>Жанр:</b> Ужасы <p>
                        <p id="DescriptionContest"><b>Описание:</b> {% autoescape off %}{{ items.description|cut:"<p>"|cut:"</p>"|slice:items.td }}{% endautoescape %}<p>
                        <p id="DescriptionContest"><b>Дата завершения:</b> {{ items.startdate }} <p>
                        <div class="pull-right"><a  href="http://{{ request.META.HTTP_HOST }}{{ items.get_absolute_url }}"><h6 id="links">&ensp;&ensp;Подробнее \ Участвовать &ensp;&ensp;</h6></a></div>
                    </div>

                </div>

            {% else %}

                <div class="items">

                    <div id= "m-top" class = "span5" id="logo-bar" name="logo-bar">
                        <a href="/"><img id="logo" src="{{ STATIC_URL }}img/image.jpg"/></a>
                    </div>

                    <div id= "m-top" class = "span7">
                        <H2 id="TitleContest" >Текущий конкурс: {{ contest.0.title }}</H2>
                        <p id="DescriptionContest"><b>Жанр:</b> Ужасы <p>
                        <p id="DescriptionContest"><b>Описание:</b> {% autoescape off %}{{ contest.0.description|cut:"<p>"|cut:"</p>"|slice:contest.0.td }}{% endautoescape %}<p>
                        <p id="DescriptionContest"><b>Дата завершения:</b> {{ contest.0.startdate }} <p>
                        <div class="pull-right"><a  href="http://{{ request.META.HTTP_HOST }}{{ contest.0.get_absolute_url }}"><h6 id="links">&ensp;&ensp;Подробнее \ Участвовать &ensp;&ensp;</h6></a></div>
                    </div>

                </div>

            {% endif %}

        {% endfor %}

        <div id="slider-panel">

            <a class="slider-button"><img src="{{ STATIC_URL }}img/panelb.png"/></a>
            <a class="slider-button"><img src="{{ STATIC_URL }}img/panelb.png"/></a>
            <a class="slider-button"><img src="{{ STATIC_URL }}img/panelb.png"/></a>

        </div>


    </div>


{% endblock %}

{% block shadow %}
    <div id="shadows"></div>
{% endblock%}

{% block content-bar %}

    <div class = "span9" id="logo-bar" name="logo-bar">

				<div id="first-post">



				<h4 id=bgtitle>{{ detail_news.title }}</h4>
                <div id="auhtor" class="pull-right"><h5> Опубликовал:&nbsp;&nbsp; <a>{{ detail_news.author.username }}</a></h5></div>
				<h5 id = "date"><span class="label label-warning">{{ detail_news.categories.name }}</span>&nbsp;&nbsp;{{ detail_news.dateCreated}}</h5>
				<hr>
				<div id="post">{% autoescape off %}
				{{ detail_news.description|linebreaks  }}
				{% endautoescape %}
				</div>
				<hr>
				<div id="more" class="pull-right" id="comment-count"><a href="{{ public_news.0.get_absolute_url}}"><h6 id="links">Всего комментариев (3)</h6></a></div>
                <div id="share" class="yashare-auto-init" data-yashareL10n="ru" data-yashareLink="http://{{ request.META.HTTP_HOST }}{{ public_news.0.get_absolute_url }}"  data-yashareTitle="Новость на сайте: {{ public_news.0.title }}" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div>
                </div>
				
				<br>


                {% show_srcomments %}

    </div>

    <div class = "span3" id="poll" name="logo-bar">

        {% poll_queue 'Public' %}

    </div>

{% endblock %}
