{% extends "base.html" %}



{% block first-post %}

				<div id="first-post">
		
				<h4 id=bgtitle>{{ public_news.0.title }}</h4>
				<h5 id = "date"><span class="label label-warning">Новости сайта</span>&nbsp;&nbsp;{{ public_news.0.date }}</h5>
				<hr>
				<div id="post">{% autoescape off %}
				{{ public_news.0.text_news|linebreaks  }}
                {% endautoescape %}
				</div>
				<hr>
				<div id="more" class="pull-right"><a href="{{ public_news.0.get_absolute_url}}"><h6 id="links">Читать дальше...<h6></a></div>
				
				</div>
			
{% endblock %}

{% block text-post %}

	{% for news in public_news %}
	{% if not forloop.first %}

				<div id="text-post">

				<h4 id=bgtitle>{{ news.title }}</h4>
				
				<h5 id = "date"><span class="label label-warning">Новости сайта</span>&nbsp;&nbsp;{{ news.date }}</h5>
				<hr>
				<div id="post">
                {% autoescape off %}
				{{ news.text_news|linebreaks  }}
                {% endautoescape %}
                
				</div>
				<hr>
				<div id="more" class="pull-right"><a href="{{ news.get_absolute_url}}"><h6 id="links">Читать дальше...<h6></a></div>
				
				</div>
				
	{% endif %}

	{% endfor %}
	
{% endblock %}

