{% extends "base.html" %}
{% load srcomments_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/laws.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}

{% block middle-bar %}
    <div class = "span8">
        <div class="white-block">

            <b>LitContest</b> — это сообщество людей, которым нравится делать игры. Ну, а чтобы усилить мотивацию и получить удовольствие, мы проводим конкурсы, совсем-совсем независимые, добрые и дружеские. И это круто, присоединяйтесь.
            <br><br>
            Каждый конкурс проходит в четыре этапа:
            <ol type="1"><li>Объявляются правила</li>
                <li>Участники делают и присылают игры, команды считаются как один участник (используйте общий аккаунт)</li>
                <li>Проходит голосование</li>
                <li>Публикуются результаты</li></ol>
            <hr width="70%">
            Средства создания и язык программирования могут быть любыми, допускаются даже flash-игры и игры, созданные с помощью конструкторов. Для участия достаточно зарегистрироваться и прислать архив, который должен содержать в себе:<br>
            <ol type="1"><li>Собранную и полностью готовую сборку игры, полученную после компиляции, без использования упаковщиков и архиваторов. Игра должна быть открыта, инсталляторы также запрещены;</li>
                <li>Исходные коды, без временных и необязательных файлов. Исходники должны быть в виде открытых текстовых модулей, для их сборки должно быть достаточно среды разработки без дополнительных утилит (SVN-паки и пр. запрещены). Пожалуйста, старайтесь писать аккуратно и с комментариями. Если для компиляции требуются сторонние библиотеки, нужно либо приложить их, либо написать ссылку-источник для скачивания;</li>
                <li>Документацию, в которой содержится название игры, авторы, описание игрового процесса, управления и так далее;</li>
                <li>3 скриншота игры размером 800х600 (если, конечно, размер экрана игры позволяет) в формате jpg или png. На, минимум, двух скриншотах обязательно должен быть показан именно игровой процесс;</li></ol>
            Получается такая структура папки с игрой:<pre>	Ник участника
		/Название игры
			/release
			/source
			/documentation
			/screenshots
</pre>
            А лучше, скачайте <a href='igdc_archive_template.zip'>шаблон для сдачи работы</a>. Ограничение на размер архива — 5 мегабайт (именно архива, со всеми исходниками и прочим). Пожалуйста, запаковывайте в форматы rar или zip. В итоге все игры будут собраны в единый zip, так что смысла экономить здесь нет.
            <br><hr width="70%">
            Участник дисквалифицируется в следующих случаях:
            <ul><li>Нарушена половина условий или игры просто нет;</li>
                <li>Игра опубликована до появления архива (сдавать старые игры нельзя);</li>
                <li>Опоздание с голосованием — оно длится не больше недели с момента появления архива.</li></ul>
            Дисквалифицированные игры попадают в архив, но не участвуют в основном голосовании. Конкурс считается состоявшимся если допущена хотя бы одна работа. Если присланно меньше четырёх игр, учитываются зрительские голоса (о них ниже).
            <br><hr width="70%">
            В конце конкурса проходит голосование, участники выставляют друг другу баллы от 1 до N-1, где N - число участников. Чем лучше игра - тем больше оценка (одинаковые баллы выставлять нельзя). Каждую оценку нужно будет прокомментировать.
            <br><br>
            Голосование является тайным, публиковать свои оценки до результатов конкурса нельзя.
            <br><hr width="70%">
            Ведущим назначаются бонусы и штрафы:
            <ul><li>Сдавшим за сутки до окончания конкурса бонус 10%;</li>
                <li>Нарушение обязательных условий: штраф 10% за штуку;</li>
                <li>Превышение максимального размера игры: 10% (считается только незапакованная сборка без исходников, максимум указывается для каждого конкурса отдельно);</li>
                <li>Плохое оформление архива: штраф 5% (как надо оформлять написано выше);</li>
                <li>Опоздание со сдачей игры: штраф 5% в час (до 30%), максимальное опоздание — 24 часа. При этом нужно обязательно предупредить ведущего до окончания конкурса (на форуме, в чате или лично);</li>
                <li>Публикация оценок: штраф 10% (голосование тайное);</li>
                <li>Проголосовать надо за 3 дня, за опоздание — штраф 10% в сутки, и, как уже говорилось, голосование идёт не дольше недели, окончательно опоздавшие дисквалифицируются.</li></ul>
            <hr width="70%">
            Финальные оценки высчитываются по форумле <u>Оценка = Баллы * (100% + Бонусы - Штрафы)</u>. У кого больше, тот и победил :) Плюс, выбираются игры, набравшие наибольшее число баллов в каждой категории. В течение всего голосования оценки скрыты, публикуются с окончанием конкурса и его результатами.
            <br><br>
            Также, в голосовании могут участвовать зрители, участники IGDC, если у них была хотя бы одна допущенная работа. Их оценки не влияют на итоговый результат (если на конкурс прислано 4 игры или больше), но определяют обладателя "зрительских симпатий". Что тоже приятно :)
            <br><br>
            Спасибо, будьте с нами, как говорит <a href='/profile.php?lookup=1'>Основатель</a>: <i>«гладкого кода!»</i></td>

        </div>

        {% show_srcomments %}

    </div>


    <div class = "span4">
        <div class="white-block"">
            <a href="/"><img id="large-logo" src="http://litcontest.ru/static/img/logo.png"/></a>
        </div>
    </div>

{% endblock %}