{% extends "base.html" %}
{% load srcomments_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/laws.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}

{% block middle-bar %}
    <div class = "span8">
        <div class="white-block">

            <b>LitContest</b> — это сообщество людей, которым нравится писать тексты. Ну, а чтобы усилить мотивацию и получить удовольствие, мы проводим конкурсы, совсем-совсем независимые, добрые и дружеские. И это круто, присоединяйтесь.
            <br><br>
            Каждый конкурс проходит в четыре этапа:
            <ol type="1"><li>Объявляются правила</li>
                <li>Участники делают и присылают тексты</li>
                <li>Проходит голосование</li>
                <li>Публикуются результаты</li></ol>
            <hr width="70%">
            Для участия достаточно зарегистрироваться и прислать файл в формате .RTF, содержащий в себе ваш текст:<br>
            <hr width="70%">
            Участник дисквалифицируется в следующих случаях:
            <ul><li>Нарушена половина условий или текста просто нет;</li>
                <li>Текст опубликован до появления итоговой таблицы на сайте (сдавать старые тексты нельзя);</li>
                <li>Опоздание с голосованием — оно длится не больше недели с момента появления таблицы.</li></ul>
            Дисквалифицированные тексты попадают в таблицу, но не участвуют в основном голосовании. Конкурс считается состоявшимся если допущена хотя бы одна работа.
            <br><hr width="70%">
            В конце конкурса проходит голосование, участники выставляют друг другу баллы от 1 до N-1, где N - число участников. Чем лучше текст - тем больше оценка (одинаковые баллы выставлять нельзя). Каждую оценку нужно будет прокомментировать.

            <br><hr width="70%">
            Спасибо, будьте с нами!</td>

        </div>

        {% show_srcomments %}

    </div>


    <div class = "span4">

    </div>

{% endblock %}